.App {
  text-align: center;
}
.app-container{
  background-color: whitesmoke;
}
.app-main-component{
  display:flex;
}
.app-course-component{
  width:60%;
  margin-left: 50px;
  padding: 10px;
  border-right: 1px solid gray;
}
